{% extends "../themestore/parent.html" %}
{% block title %}
  {% if userInfo.user_name %}
    {{userInfo.user_name}}
  {% else %}
    {{userInfo.user_loginname}}
  {% endif %}'s Personal Center
{% endblock %}
{% block style %}
<style>
.content{padding-top:5px;}
article{padding:10px 20px 30px;}
header{color:#777;}
input.form-control{border: none;box-shadow: none;border-bottom: 1px solid #ccc;border-radius: 0;background-color: transparent;}
input.form-control:focus{box-shadow: none;border-color: rgb(0, 188, 212);}
.form-group label{width: 20%;margin-right: 10px;text-align: right;}
.form-group input{width: 75%;display: inline-block;}
</style>
{% endblock %}
{% block CurrentDescription %}Please complete your infromation{% endblock %}
{% block content %}
<div class="content">
  <article>
    <section>
    <form>
      <div class="form-group">
        <label for="inputNickname">Nickname</label>
        <input type="text" class="form-control"  id="inputNickname" name="inputNickname" value="{{userInfo.user_name}}" oninvalid="setCustomValidity('Please input letter,number or underline')">
      </div>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="Email" class="form-control" id="inputEmail" name="inputEmail" value="{{userInfo.user_mailbox}}">
      </div>
      <div class="form-group">
        <label for="inputTell">Tellphone</label>
        <input type="number" class="form-control" id="inputTell" name="inputTell" value="{{userInfo.user_tellphone}}">
      </div>
      <div class="form-group">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" name="inputCity" value="{{userInfo.user_city}}">
      </div>
      <div class="form-group">
        <label for=""></label>
        <button type="submit" class="btn btn-primary">Update Your Information</button>
      </div>
    </form>
    </section>
  </article>
</div>
{% endblock %}

{% block script %}
  <script src="/static/js/personal.js"></script>
{% endblock %}
