{% extends "./parent.html" %}
{% block style %}
<style>
.list{margin: 0 auto;padding: 0 30px;display: inline-flex;flex-wrap: wrap;}
.list .item{position: relative;width:300px;background-color:#fff;margin-right: 20px;margin-bottom: 20px;box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);border-radius: 3px;transition: all 0.3s;}
.list .item:hover{cursor: pointer;text-decoration: none;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);}
.list .item .step{position: absolute;width: 36px;height: 36px;top:-3px;left:0;border: 5px solid #4A6495;border-radius: 23px;text-align: center;line-height: 36px;}
.list .item h2{font-size: 24px;font-weight: normal;}
.list .item p{line-height: 30px;margin-top: 10px;}
.item-title{text-align: center;}
.item-img img{width: 100%;}
</style>
{% endblock %}

{% block content %}
  <div class="list">
  {% for item in themelist %}
    <a class="item">
      <div class="item-img">
        <img src="/static/img/{{item.theme_imgsrc}}.png" alt="{{item.theme_imgsrc}}">
      </div>
      <div class="item-title">
        <h4>{{item.theme_name}}</h4>
      </div>
    </a>
    <div></div>
    {% else %}
      <li>There are no downloadable themes yet!</li>
    {% endfor %}
  </div>
{% endblock %}

{% block script %}
  <script src="/static/js/base.js"></script>
{% endblock %}
