{% extends "./parent.html" %}
{% block style %}
<style>
.list{margin: 0 auto;padding: 0;display: inline-flex;flex-wrap: wrap;}
.list .item{position: relative;width:280px;background-color:#fff;margin-right: 20px;margin-bottom: 20px;box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);border-radius: 3px;transition: all 0.3s;}
.list .item img{transition: .3s all;}
.white-btngroup{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%;text-align: center;}
.white-btn{display: none;padding: 10px;border-radius: 6px;background-color: rgba(255,255,255,1);margin:0 5px;font-size:18px;}
.list .item:hover{cursor: pointer;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);background-color: rgba(255,255,255,0.7);}
.list .item:hover a{text-decoration: none;}
.list .item:hover .white-btn{display: inline-block;}
.list .item:hover img{opacity: 0.4;}
.list .item .step{position: absolute;width: 36px;height: 36px;top:-3px;left:0;border: 5px solid #4A6495;border-radius: 23px;text-align: center;line-height: 36px;}
.list .item h2{font-size: 24px;font-weight: normal;}
.list .item p{line-height: 30px;margin-top: 10px;}
.item-title{text-align: center;}
.item-img img{width: 100%;}
</style>
{% endblock %}

{% block content %}
<div class="content">
    <ol class="breadcrumb">
      <li><a href="/themestore/theme/index">Theme List</a></li>
      <li><a href="/themestore/upload/index">Upload Your Theme</a></li>
      <li class="active"><a href="/themestore/mytheme/index">My Theme</a></li>
    </ol>
    <div class="list">
    {% for item in themelist %}
    <div class="item">
		<a href="/themestore/theme/detail/themename/{{item.theme_name}}/state/mytheme">
		<div class="item-img">
		  <img src="/static/img/{{item.theme_imgsrc}}.png" alt="{{item.theme_imgsrc}}">
		</div>
		<div class="item-title">
		  <h4>{{item.theme_name}}</h4>
		</div>
		</a>
		<div class="white-btngroup">
		  <a href="/themestore/theme/detail/themename/{{item.theme_name}}/state/mytheme" class="white-btn">Detail</a>
          <a href="javascript:void(0)" class="white-btn delete-theme" data-filesrc="{{item.theme_filesrc}}">Delete</a>
		</div>
    </div>
	{% else %}
	<p>You haven't uploaded any theme yet!</p>
	{% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
  <script src="/static/js/theme.js"></script>
{% endblock %}
