<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
<meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<link href="//lib.baomitu.com/normalize/5.0.0/normalize.min.css" rel="stylesheet">
<link href="//lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/homeindex.css">
{% block style %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://firekylin.org">Firekylin</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <li disabled>
            <a href="https://github.com/firekylin/firekylin/stargazers">
              <img src="https://img.shields.io/github/stars/firekylin/firekylin.svg?style=social&label=Star" alt="github star" />
            </a>
          </li>
          {% if latest %}
          <li>
            <a href="https://github.com/firekylin/firekylin/releases">
              v{{latest}}
            </a>
          </li>
          {% endif %}
          <li><a href="https://75team.com">Demo</a></li>
          <li><a href="/themestore/index">Theme Store</a></li>
          <li><a href="https://github.com/firekylin/firekylin/issues/34">Users</a></li>
          <li><a href="https://github.com/firekylin/firekylin/blob/master/CHANGELOG.md">Change Log</a></li>
          <li><a href="https://github.com/firekylin/firekylin/wiki">Documentation</a></li>
          {% if userInfo.login%}
          <li class="userinfo">
            <a href="javascript:void(0)" class="username">
              <i>{{userInfo.login}}</i>
              <i class="arrow arrow-bottom"></i>
            </a>
            <i class="arrow arrow-top"></i>
            <ul class="droplist">
              <li><a href="/user/personal/index">个人中心</a></li>
              <li><a id="logout">注销</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="https://github.com/login/oauth/authorize?client_id=efaf9351830c99050b36&scope=user,public_repo">Log in</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}
  <script src="//lib.baomitu.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block script %}{% endblock %}
  <script src="/static/js/base.js"></script>
  <script src="/static/js/user.js"></script>
</body>
</html>
